<style type="text/css">
	.form-error {
		color: red;
		font-weight: bold;
		padding-bottom: 10px;
	}
	.form-error ul {
		margin: 0;
	}
</style>

{# Etape 2 #}
{# {{ form_row(formClient._token) }} #}

<div class="card step_2">
	<div class="card-content">
		<span class="card-title color_product_primary center-align">Étape 2</span>
		<p class="h6 center-align">Remplissez ce formulaire</p>
		<div class="form-wrapper">
			<div class="input-field">
				{# <input type="text" id="extra_form_child" name="form[extra_child]" value="test"/> #}
				{# <input type="text">#}<label>Prénom
				</label>
				{{form_widget(formClient.firstName)}}<div class="form-error"> </div>
			</div>
			<div
				class="input-field">
				{# <input type="text">#}
				<label>Nom</label>
				{{form_widget(formClient.lastName)}}
				<div class="form-error"></div>
			</div>
			<div
				class="input-field">
				{# <input type="text"> #}
				<label>Adresse</label>
				{{form_widget(formClient.addressBiling.addressLine1)}}
				<div class="form-error"></div>
			</div>
			<div
				class="input-field">
				{# <input type="text">#}
				<label>Complément d'addr.</label>
				{{form_widget(formClient.addressBiling.addressLine2)}}
				<div class="form-error"></div>
			</div>
			<div
				class="input-field">
				{# <input type="text"> #}
				<label>Ville</label>
				{{form_widget(formClient.addressBiling.city)}}
				<div class="form-error"></div>
			</div>
			<div
				class="input-field">
				{# <input type="text">#}
				<label>Code postal</label>
				{{form_widget(formClient.addressBiling.zipecode)}}
				<div class="form-error"></div>
			</div>
			<div
				class="input-field">
				{# <select>
				                    <option>France</option>
				                </select> #}
				<label>Pays</label>
				{{form_widget(formClient.addressBiling.country)}}
				<div class="form-error"></div>
			</div>
			<div
				class="input-field">
				{# <input type="text">#}
				<label>Téléphone</label>
				{{form_widget(formClient.addressBiling.phone)}}
				<div class="form-error"></div>
			</div>
			<div
				class="input-field">
				{# <input type="text"> #}
				<label>Email</label>
				{{form_widget(formClient.email)}}
				<div class="form-error"></div>
			</div>
			<div
				class="input-field">
				{# <input type="text">#}
				<label>Confirmation email</label>
				{{form_widget(formClient.confirmationEmail)}}
				<div class="form-error"></div>
			</div>
		</div>
	</div>
	<ul class="collapsible">
		<li>
			<div class="collapsible-header">
				<i class="material-icons">markunread_mailbox</i>Adresse de livraison différente ?</div>
			<div class="collapsible-body">
				<div
					class="input-field">
					{# <input type="text">
					                    <label>Prénom</label> #}
					{{form_row(formClient.addressShipping.prenom)}}
					<div class="form-error"></div>
				</div>
				<div
					class="input-field">
					{# <input type="text">
					                    <label>Nom</label> #}
					{{form_row(formClient.addressShipping.nom)}}
					<div class="form-error"></div>
				</div>
				<div
					class="input-field">
					{# <input type="text">
					                    <label>Adresse</label> #}
					{{form_row(formClient.addressShipping.addressLine1)}}
					<div class="form-error"></div>
				</div>
				<div
					class="input-field">
					{# <input type="text">
					                    <label>Complément adr.</label> #}
					{{form_row(formClient.addressShipping.addressLine2)}}
					<div class="form-error"></div>
				</div>
				<div
					class="input-field">
					{# <input type="text">
					                    <label>Ville</label> #}
					{{form_row(formClient.addressShipping.city)}}
					<div class="form-error"></div>
				</div>
				<div
					class="input-field">
					{# <input type="text">
					                    <label>Code postal</label> #}
					{{form_row(formClient.addressShipping.zipecode)}}
					<div class="form-error"></div>
				</div>
				<div
					class="input-field">
					{# <select>
					                        <option>France</option>
					                    </select>
					                    <label>Pays</label> #}
					{{form_row(formClient.addressShipping.country)}}
					<div class="form-error"></div>
				</div>
				<div
					class="input-field">
					{# <input type="text">
					                    <label>Téléphone</label> #}
					{{form_row(formClient.addressShipping.phone)}}
					<div class="form-error"></div>
				</div>
			</div>
		</li>
	</ul>
</div>

{# Etape 3 #}
<div class="card step_3">
	<div class="card-content">
		<span class="card-title color_product_primary center-align">Étape 3</span>
		<p class="h6 center-align">Choisissez un paiement</p>
		<ul class="collapsible">
			<li class="active">
				<div class="collapsible-header">
					<i class="fas fa-credit-card"></i>Payer avec la Carte Bancaire</div>
				<div class="collapsible-body card-form">
					<div class="row">
						<div class="center-align">
							<button type="submit" id="checkout-button" name="order[payment_method]" value="stripe" class="btn-large btn-block waves-effect waves-light">Continuer</button>
							<p>J'accepte les
								<a href="https://feelwellshop.com/fr/conditions-generales-de-ventes" target="_blank">conditions générales de vente</a>
							</p>
							<img class="responsive-img monetico" src="assets/images/paiement-securise-stripe.jpeg" alt="Stripe protège vos achats">
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="collapsible-header">
					<i class="fab fa-cc-paypal"></i>Payer avec Paypal</div>
				<div class="collapsible-body">
					<div class="row">
						<div class="center-align">
							<button type="submit" name="order[payment_method]" value="paypal" class="btn-large btn-block waves-effect waves-light">Continuer sur PayPal</button>
							<p>J'accepte les
								<a href="https://feelwellshop.com/fr/conditions-generales-de-ventes" target="_blank">conditions générales de vente</a>
							</p>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
